@font-face
    font-family: "Moon Flower"
    font-weight: 400
    font-style: normal
    src: url(../fonts/Moon-Flower.eot)
    src: url(../fonts/Moon-Flower.eot#iefix) format("embedded-opentype"), url(../fonts/Moon-Flower.woff2) format("woff2"), url(../fonts/Moon-Flower.woff) format("woff"), url(../fonts/Moon-Flower.ttf) format("truetype")
    font-display: block

@font-face
    font-family: "Futura Std Medium"
    font-weight: 400
    font-style: normal
    src: url(../fonts/FuturaStd-Medium.eot)
    src: url(../fonts/FuturaStd-Medium.eot#iefix) format("embedded-opentype"), url(../fonts/FuturaStd-Medium.woff2) format("woff2"), url(../fonts/FuturaStd-Medium.woff) format("woff"), url(../fonts/FuturaStd-Medium.ttf) format("truetype")
    font-display: swap

    
@import "~bulma/sass/utilities/initial-variables"

$poppy-red: #b50800
$poppy-red-invert: #fff
$grass-green: #097c47

$primary: $poppy-red
$primary-invert: $poppy-red-invert
$body-color: #000
$strong-color: #000
$body-size: 18px
$link: $poppy-red
$family-sans-serif: "Futura Std Medium",Arial,Verdana,sans-serif
$column-gap: 1.5rem
$radius: 0
$radius-large: 0
$radius-small: 0


.moon
    font-family: "Moon Flower",Arial,Verdana,sans-serif

.futura
    font-family: $family-sans-serif

@import "~bulma"

html.has-navbar-fixed-top, body.has-navbar-fixed-top
    padding-top: 80px

h1
    @extend .title
    @extend .is-1
    @extend .has-text-centered
    color: $poppy-red

h2
    @extend .title
    @extend .is-3
    @extend .has-text-centered

*[id]:before
    content: ""
    display: block
    height: 80px
    margin: -80px 0 0

header
    h1
        font-size: 1.5rem
        margin-left: 1rem
    
    .navbar
        @extend .has-shadow

    .navbar-item
        padding-left: 0.25rem
        padding-right: 0.25rem
        outline: none
        :focus
            color: $poppy-red                                                   
    
        span
            padding: 2px 10px
    
    .navbar-item.is-active
        span
            background: $poppy-red
            color: $poppy-red-invert

main 
    h1
        color: $strong-color

p
    margin: 1rem 0
    @extend .has-text-justified

iframe
    width: 100%
    min-height: 1600px

    @media screen and (max-width: 1407px)
        min-height: 1700px
    
    @media screen and (max-width: 1215px)
        min-height: 1950px
    
    @media screen and (max-width: 821px)
        min-height: 2150px
    
    @media screen and (max-width: 583px)
        min-height: 2300px
    
    @media screen and (max-width: 474px)
        min-height: 2500px
    
    @media screen and (max-width: 423px)
        min-height: 2700px
    
    @media screen and (max-width: 385px)
        min-height: 2900px
    
    @media screen and (max-width: 356px)
        min-height: 3300px

.region
    background-color: #5b140b

    @media screen and (max-width: 1407px)
        background-position: 150px 50%

    @media screen and (max-width: 1050px)
        background-position: 0 50%

    @media screen and (max-width: 767px)
        background-image: none

    h1
        margin-bottom: 1em
        span
            padding: 4px 16px
            background: $poppy-red    
    .column
        background: $poppy-red
        margin: 2em 1em
    h2
        color: #eab962
        font-size: 2.5rem
        @extend .moon
    div
        color: #fff
        text-align: center
    a
        color: #fff
        text-decoration: underline
    .newsletter
        margin-bottom: 0.5rem
    a.follow
        background: #fff
        width: 3rem
        height: 3rem
        color: #000
        border-radius: 50%
        margin: 1rem 0.5rem
        display: flex
        align-items: center
        justify-content: center
    svg
        height: 24px
        width: 24px
    svg.email
        stroke: #000

#banner
    section
        background-color: $grass-green
        background-image: url(../images/poison.svg)
        background-size: contain

    h1
        margin-top: 0.5rem

    span
        padding: 4px 16px
        background: #036136

#actualite
    time
        text-align: center
        display: block
        color: $poppy-red
    h2
        margin-bottom: 0.5rem
        font-size: 2.5em
        color: #111
        @extend .moon

#nos-soutiens
    img
        max-width: 200px

#actualite
    section
        background-color: #666
    h1
        margin-bottom: 1em
        span
            padding: 4px 16px
            background: #222

#mairies
    position: relative
    background: #f0f2f6

    h2::before
        display: block
        width: 2.5rem
        height: .3125rem
        margin: -5px 0 3rem -1.25rem
        padding: 0
        content: ""
        background: #097c47
        position: absolute
        top: -3rem
        left: 50%
    
    .container::after
        display: block
        width: 2.5rem
        height: .3125rem
        margin: -5px 0 0 -1.25rem
        padding: 0
        content: ""
        background: #097c47
        position: absolute
        bottom: -1.5rem
        left: 50%

#mairies,#commercants
    svg
        width: 32px
        height: 32px
        margin-right: 1rem
        position: relative
        top: 5px

#l-appel
    section
        background-color: #09120e
        background-image: url(../images/appel.svg)
        background-size: 100px
        background-position: 150px 80px
    h1
        color: #fff
        span
            padding: 4px 16px
            background: #036136

@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"


#photos::before
    height: 0
    margin-top: 0
    
#photos
    position: relative
    background: #f0f2f6
    padding: 3rem 0 2rem

    .slick-slider
        height: 362px
        overflow: hidden

    @media screen and (max-width: 249px)
        display: none

    .section::before
        display: block
        width: 2.5rem
        height: .3125rem
        margin: -5px 0 3rem -1.25rem
        padding: 0
        content: ""
        background: #097c47
        position: absolute
        top: 0
        left: 50%

.galerie-item
    padding: 0 15px
    text-align: center
    max-width: calc(100vw - 50px)
    overflow: hidden


    .gatsby-image-wrapper
        max-width: calc(100vw - 50px)

.galerie-title
    marginTop: 0.3rem
    fontSize: 0.8rem
    color: #555

.galerie-date
    font-size: 0.8rem